
.start{
    background-color: beige;
    font-size: xx-large;
    text-align: left
}
.end{
    background-color: azure;
    font-size: x-large;
    text-align: center;
}
tittle{
    font-size: xx-large;
    background-color: beige;

}