.col1{
    background-color: rgb(136, 136, 57);
    height: 50vh;
}
.col2{
    background-color: rgb(172, 152, 127);
height: 50vh;
}
.col3{
background-color: rgb(168, 136, 87);
height: 50vh;
}
.col4{
    background-color: blanchedalmond;
    height: 50vh;
}
.col5{
    background-color: beige;
    height: 50vh;

}
.col6{
    background-color: bisque;
    height: 50vh;
}